@font-face {
  font-family: SourceSansPro-Regular;
  src: url(..//font/SourceSansPro-Regular.otf);
}
@font-face {
  font-family: SourceSansPro-Light;
  src: url(..//font/SourceSansPro-Light.otf);
}
@font-face {
  font-family: SourceSansPro-Semibold;
  src: url(..//font/SourceSansPro-Semibold.otf);
}
@font-face {
  font-family: SourceSansPro-Bold;
  src: url(..//font/SourceSansPro-Bold.otf);
}
@font-face {
  font-family: SourceSansPro-Black;
  src: url(..//font/SourceSansPro-Black.otf);
}
